footer {
  background: $brand-primary;
  padding: 40px 0 0;
  color: #fff;
  font-size: 14px;

  ul {
    list-style: none;
    padding: 0 10px;
  }

  p {
    font-size: 14px;
  }

  hr {
    border-top: 1px solid #65CDF1;
    margin: 0;
  }

  .social-links a {
    display: block;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position:center left;
    padding: 8px 60px;
    font-size: 16px;
    font-weight: 300;
    margin: 17px 0 5px;

    &:hover, &:active, &:focus {
      color: #fff;
    }
  }

  .links a {
    text-transform: uppercase;  
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
  }

  
  a {
    color: #fff;
    letter-spacing: 0.3px;
    font-weight: 300;

    &:hover, &:active, &:focus {
      color: #a0a0a0;
      text-decoration: none;
    }
  }

  .logo-wrap {
    padding: 30px 10px;
  }

  .copyright {
    padding: 35px 15px 5px;
    font-size: 14px;  
    line-height: 1.7;
  }

  @media (min-width: $screen-sm-min) {
    padding: 80px 10px 60px;

    .logo-wrap {
      padding: 5px 25px 30px;
    }

    .social-links {
      padding: 0 25px;
      a {
        margin: 0 0 17px;
      }
    }

    .links {
      border-left: 1px solid #65CDF1;
      border-right: 1px solid #65CDF1;

      min-height: 160px;
      padding: 10px 30px;
    }

    .copyright {
      padding: 10px 0;
      margin-top: 40px;
    }
  }
}

.form-control {
  padding: 8px 15px;
  font-size: 18px;
  height: 43px;
    max-width:  90%;
}

.lead {
  text-align: center;
  padding: 18px 0 18px;
  margin: 0;

  @media (min-width: $screen-sm-min) {
    text-align: left;
    font-size: 16px;
  }
}

hr {
  margin: 0 20px;
  border-top: 1px solid #73787D;
}

.meta {
  font-size: 14px;
  color: #73787D;
  text-align: center;

  .twitter-small {
    background: url("../images/twitter-small.svg") 0 0 no-repeat;
    width: 15px;
    height: 13px;
    display: inline-block;
    margin: 0  0 0 10px;

    &:after {
      display: none;
      content: url("../images/twitter-small-hover.svg");
    }

    &:hover {
      background-image: url("../images/twitter-small-hover.svg");
    }
  }

  .linkedin-small {
    background: url("../images/linkedin-small.svg") 0 0 no-repeat;
    width: 15px;
    height: 14px;
    display: inline-block;
    margin: 0  10px  0 10px;


    &:after {
      display: none;
      content: url("../images/linkedin-small-hover.svg");
    }

    &:hover {
      background-image: url("../images/linkedin-small-hover.svg");
    }
  }

  .date {
    border-left:1px solid #73787D;
    padding-left: 10px;
  }
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0 10px 20px;
  
  li {
    display: inline-block;
  }

  .block-link {
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-left: 10px;
    background-size: 50px;
  }

  .twitter {
    background-image: url(../images/twitter.svg);


    &:after {
      display: none;
      content: url("../images/twitter-hover.svg");
    }

    &:hover {
      background-image: url("../images/twitter-hover.svg");
    }
  }


  .angel {
    background-image: url(../images/angel.svg);

    &:after {
      display: none;
      content: url("../images/angel-hover.svg");
    }

    &:hover {
      background-image: url("../images/angel-hover.svg");
    }
  }

  .contact {
    background-image: url(../images/contact.svg);

    &:after {
      display: none;
      content: url("../images/contact-hover.svg");
    }

    &:hover, &.toggled {
      background-image: url("../images/contact-hover.svg");
    }
  }

  @media (min-width: $screen-sm-min) {
    .block-link {
      height: 40px;
      width: 40px;
      background-size: 40px 40px;
    }
  }
}


.section-subscribe {
  background: #3C4046;
//  color: #AAB2B9;
    color: #fff;

  padding: 30px 0 15px;

  .subscribe-input input {
    text-transform: uppercase;
  }
    
  @media (min-width: $screen-sm-min) {
    .subscribe-input {
      padding-right: 10px;
    }
    .seperater-wrap {
      width: 20px;
    }

    .follow {
      padding-left: 0;
      padding-right: 0;

      .lead {
        margin-left: 25px;
        }
    }
  }
}

.section-subscribe-orange {
    background: #CC7D0A;
}

.breath-xs {
  margin-top: 18px;

  @media (min-width: $screen-sm-min) {
    margin-top: auto;
  }
}

.follow {
  .social-links {
    padding: 20px 0 0;
  }

  @media (min-width: $screen-sm-min) {
    padding-bottom: 40px;
    .social-links {
      padding: 0 20px;

      p.lead {
        padding: 0;
        font-size: 16px;
      }
    } 
  }
}
