

.navbar-fixed-top {
  max-width: 1475px;
  margin: 0 auto;
}

.navbar-toggle {
  border: none;
  margin: 0;
  padding: 17px 22px;
  border-radius: 0;

  .icon-bar {
    width: 32px;
    height: 3px;

    & + .icon-bar {
      margin-top: 7px
    }
  }

  background: $brand-primary;

  &.collapsed {
    background: none;
    .icon-bar {
      background: #fff;
    }
  }

  &:hover {
    background: $brand-primary;
  }
}

.navbar-collapse {
  border: none;
  box-shadow: none;
  background: $brand-primary;
  padding: 0 10px;

  @media (min-width: $screen-sm-min) {
    background: $brand-seconday;
  }
}

.navbar-inverse .navbar-nav {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;

  .active {
    font-weight: 700;

    a:hover {
      color: #fff;
    }
  }

  li > a {
// for small screen
    padding: 20px 40px;
    letter-spacing: 0.5px;

    &:hover {
      color: #a0a0a0;
    }
  }

  @media (min-width: $screen-sm-min) {
    > li > a {
      padding: 16.5px 10px;
  
      &:before {
        content: '';
        border-right: 1px solid #fff;
        height: 18px;
        margin: 2px 10px 0 -5px;
        display: block;
        float: left;
      }
    }

    > li:first-child > a:before {
      display: none;
    }
  }
}


#navbar {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
}
