<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="SteamFab accelerates top foreign startups into the U.S. for market access and fund raising. Scaling a company can be learned.">
  <meta name="author" content="SteamFab.io">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="styles/main.css">
  <title>SteamFab.io</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>

<body>
  <div class="main-wrap">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
              <img src="images/SteamFab_logo.svg" alt="SteamFab.io" class="logo">
            </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="{{#if active_sectors}}active{{/if}}"><a href="sectors.html">Sectors</a></li>
              <li class="{{#if active_accelerator}}active{{/if}}"><a  href="accelerator.html">Accelerator</a></li>
              <li class="{{#if active_apply}}active{{/if}}"><a href="apply.html">Apply</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>