<div class="section-subscribe section-subscribe-orange">
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs col-sm-12">
        <p class="">Refer a company you think we should know or register yours. We will review it and track it in our database.</p>
      </div>
        
      <form class="col-xs-12 col-sm-10" action="https://sipfoundry.createsend.com/t/t/s/uliity/" method="post">
        <div class="row">
          <div class="col-xs-12 col-sm-4 subscribe-input">
            <input name="cm-uliity-uliity" type="text" required type="text" class="form-control" placeholder="Company Name">
          </div>
              
          <div class="col-xs-12 col-sm-4 subscribe-input">
            <input name="cm-uliity-uliity" type="url" required type="url" class="form-control" placeholder="URL">
          </div>
              
          <div class="col-xs-12 col-sm-4 subscribe-input">
            <input name="cm-uliity-uliity" type="email" required type="email" class="form-control" placeholder="Your E-Mail">
          </div>  
              
          <div class="col-xs-12 col-sm-6 subscribe-input">
            <p></p>
            <button type="submit" class="btn btn-primary breath-xs">Register</button>
          </div>
        </div>
      </form>
        
      <div class="col-xs-12 visible-xs-block">
        <p class="lead">Register your company. <br>We will review it and track it in our database.</p>
           
        <hr>
      </div>

    </div>
  </div>
</div>