<div class="section-subscribe">
  <div class="container-fluid">
        
    <div class="row">
      <div class="hidden-xs col-sm-12">
        <p class="">Register to receive updates from SteamFab:</p>
      </div>
    </div>
        
<!--
Subscribe function adds an email list into Campaign Monitor. The form code 
and link is created from the Campaign Monitor Web site
-->        
    <div class="row">
      <form action="http://sipfoundry.createsend.com/t/t/s/oolky/" method="post">
          
        <div class="col-xs-12 col-sm-3 subscribe-input">
          <input name="cm-oolky-oolky" type="email" required class="form-control" placeholder="E-Mail">
        </div>
          
        <div class="col-xs-12 col-sm-3 subscribe-input">
          <button type="submit" class="btn btn-primary breath-xs">Keep me updated</button>
        </div>

      </form>
        
      <div class="col-xs-12 visible-xs-block">
        <p class="lead">Register to receive <br> updates from SteamFab.</p>
        <hr>
      </div> 

    </div>
    <div class="clearfix"></div> 
        
  </div>
          
</div>
